*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
}

/* sidemenu */
.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #353b48;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top: 120px;
    left: -30px;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #2f3640;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa{
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 40px;
    left: 0;
    width: 60px;
    height: 60px;
    background: #353b48;
    cursor: pointer;
}
.toggle.active{
    background: #2f3640;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.toggle.active:before{
    content: '\f00d';
}







@media (max-width: 750px){
    .navigation{
        left: -60px;
    }
    .navigation.active{
        left: 0;
        width: 100%;
    }
}